@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  background-color: #000000;
  --textColor: #fff;
  --textColored: black;
  min-height: 100vh;
  margin: 0;
  font-family: "Courier New", Courier, monospace;
  font-weight: bold;
  overflow-x: hidden !important;
}
:root.dark-theme {
  background-color: #000000;
  color: white;
  --textColor: #fff;
  --textColored: black;
  background-image: url("./assets/background.jpg");
  --tintcolor3: #202022;
  --tintcolor4: #252525;
  --tintcolor5: #353535;
  --tintcolor7: #dddbdb;
  --glasstheme: rgba(255, 255, 255, 0.5);
  --mailTheme: rgba(0, 0, 0, 0.5);
}
:root.light-theme {
  background-color: white;
  background-image: url("./assets/lightTheme.jpg");
  color: black;
  --textColor: #000;
  --textColored: white;
  --tintcolor3: #dddbdb;
  --tintcolor4: #dad8d8;
  --tintcolor5: #d1d0d0;
  --tintcolor7: #353535;
  --glasstheme: rgba(0, 0, 0, 0.2);
  --mailTheme: rgba(255, 255, 255, 0.7);
}
:root.red-theme {
  --mainColor: red;
  --tintcolor1: rgba(252, 6, 6, 0.3);
  --tintcolor2: rgb(76, 50, 50);
  --tintcolor6: rgba(243, 180, 180, 0.721);
  --shadowColor: rgba(255, 0, 0, 0.75);
  --shadowColor2: #ff3b3b;
  --shadowColor3: #fc0606;
  --shadowColor4: #7a0404;
  --shadowColor5: #f71b1b;
  --shadowColor6: #cc1818;
  --shadowColor7: #a70505;
}
:root.blue-theme {
  --mainColor: blue;
  --tintcolor1: rgba(6, 6, 252, 0.3);
  --tintcolor2: rgb(50, 50, 76);
  --tintcolor6: rgba(180, 181, 243, 0.721);
  --shadowColor: rgba(0, 0, 255, 0.75);
  --shadowColor2: #3b3bff;
  --shadowColor3: #0606fc;
  --shadowColor4: #04047a;
  --shadowColor5: #1b1bf7;
  --shadowColor6: #1818cc;
  --shadowColor7: #0505a7;
}
:root.yellow-theme {
  --mainColor: yellow;
  --tintcolor1: rgba(252, 252, 6, 0.3);
  --tintcolor2: rgb(76, 76, 50);
  --tintcolor6: rgba(243, 242, 180, 0.721);
  --shadowColor: rgba(255, 255, 0, 0.75);
  --shadowColor2: #ffff3b;
  --shadowColor3: #fcfc06;
  --shadowColor4: #7a7a04;
  --shadowColor5: #f7f71b;
  --shadowColor6: #cccc18;
  --shadowColor7: #a7a705;
}
:root.lime-theme {
  --mainColor: lime;
  --tintcolor1: rgba(6, 252, 6, 0.3);
  --tintcolor2: rgb(50, 76, 50);
  --tintcolor6: rgba(180, 243, 185, 0.721);
  --shadowColor: rgba(0, 255, 0, 0.75);
  --shadowColor2: #3bff3b;
  --shadowColor3: #06fc06;
  --shadowColor4: #047a04;
  --shadowColor5: #1bf71b;
  --shadowColor6: #18cc18;
  --shadowColor7: #05a705;
}

:root input:focus {
  outline: none;
}

::-webkit-scrollbar {
  width: 9px;
  transition: 0.3s;
}
::-webkit-scrollbar:hover {
  width: 14px;
  transition: 0.4s;
}
::-webkit-scrollbar-thumb:hover {
  background-color: var(--shadowColor6);
  transition: 0.3s;
  cursor: pointer;
}

::-webkit-scrollbar-track {
  background: var(--textColored);
  transition: 0.3s;
}
::-webkit-scrollbar-track:hover {
  background-color: var(--tintcolor5);
  transition: 0.4s;
}

::-webkit-scrollbar-thumb {
  background-color: var(--mainColor);
  background-origin: border-box;
  background-clip: content-box, border-box;
  border-radius: 5px;
  transition: 0.3s;
}
